body {
	font-family: 'Overpass Mono';
}

header {
	background-color: firebrick;
	color: #fff;
	
}

h1, h3, h4 {
	font-size: 20px;
	font-weight: bold;
}


footer {
	text-align: center;
}



#one {
	background-color: coral;
	font-family: Helveta, Ariral, sans-serif;
	font-size: 11px;
	font-color: white;
	line-height: 1.5em;
	padding:; 
	border-radius: 5px 20px 5px;
}

#two {
	background-color: lime;
	font-family: 'Roboto', sans-serif;;
	font-size: 15px;
	font-color: black;
	line-height: 2em;
	padding:; 
	border-radius: 30px 10px;
}

#three {
	background-color: lightblue;
	font-family:'Oswald', sans-serif;;
	font-size: 17px;
	font-color: darkblue;
	line-height: 3em;
	padding:; 
	border-radius: 50%;
}

#four {
	background-color: cornsilk;
	font-family: 'Cormorant', serif;
	font-size: 14px;
	font-color: crimson;
	line-height: 4em;
	padding:; 
	border-radius: 15px 30px 15px;
}

#five {
	background-color: dodgerblue;
	font-family:'PT Sans', sans-serif;
	font-size: 13px;
	font-color: hotpink;
	line-height:2.5em;
	padding:;
	border-radius: 10%; 
}

.title {
	font-size: 4em;
	text-align: center;
}

.author {
text-align: right;
}
