body {
	font-family: 'Overpass Mono';
}

header {
	background-color: firebrick;
	color: #fff;
	
}


footer {
	text-align: center;
}



#one {
	background-color: coral;
	font-family: Helveta, Ariral, sans-serif;
	font-size: 11px;
	font-color:;
	line-height:;
	padding:; 
}

#two {
	background-color: lime;
	font-family:;
	font-size:;
	font-color:;
	line-height:;
	padding:; 
}

#three {
	background-color: lightblue;
	font-family:;
	font-size:;
	font-color:;
	line-height:;
	padding:; 
}

#four {
	background-color:;
	font-family:;
	font-size:;
	font-color:;
	line-height:;
	padding:; 
}

#five {
	background-color:;
	font-family:;
	font-size:;
	font-color:;
	line-height:;
	padding:; 
}

.title {
	font-size: 4em;
	text-align: center;
}

.author {
text-align: right;
}
